.row.form-group
  .col-xs-12
    %ul.nav.nav-pills.nav-justified.thumbnail.setup-panel
      %li{ class: step == 1 ? "active" : "disabled" }
        %a
          %h4.list-group-item-heading Upload template image
          %p.list-group-item-text Step 1
      %li{ class: step == 2 ? "active" : "disabled" }
        %a
          %h4.list-group-item-heading Specify embed area
          %p.list-group-item-text Step 2
      %li{ class: step == 3 ? "active" : "disabled" }
        %a
          %h4.list-group-item-heading Set title & keywords
          %p.list-group-item-text Step 3
