.page-header
  %h1 jcrop test

#show-template{ 'ng-controller' => 'CropTemplateCtrl', 'ng-init' => "image_url='#{ @template.image_url(:with_placeholder) }'; template_id='#{ params[:id] }'" }
  .row
    .col-md-8{ 'jrg-area-select'=> true }
      %img.img-responsive{ 'ng-src' => '{{ image_url }}', jcrop: '{{ jcropSettings }}', 'on-change-fn' => 'updateCoordinates(coords)' }
      %p hi there
      {{ coords }}
      %input{ value: "{{ coords.x }}" }
      %input{ value: "{{ coords.y }}" }
      %input{ value: "{{ coords.x2 }}" }
      %input{ value: "{{ coords.y2 }}" }
      %input{ value: "{{ coords.w }}" }
      %input{ value: "{{ coords.h }}" }

      %button{ 'ng-click' => 'updateCoordinates({g: 123})' } bbbbb