
.page-header
  %h2 New Template Wizard

= render 'progress_bar', step: 1

.row
  .col-md-12
    = simple_form_for @template, url: templates_path, html: { class: 'form-vertical' } do |f|
      .form-group
        = f.input :image, label: false, input_html: { class: 'form-control2' }

      = f.submit "Upload", class: 'btn btn-default'
