.page-header
  %h1 Template

#show-template{ 'ng-controller' => 'ShowTemplateCtrl', 'ng-init' => "init(#{ @template.to_json(include: [:embed_rules]) })" }
  .row
    .col-md-8
      .img-wrapper
        %img.img-responsive{ 'ng-src' => '{{ image_url }}' }
        .dropzone{ 'ng-repeat' => 'rule in template.embed_rules', 'ng-style' => 'positionForDropzone(rule)' }
          %label{ for: "file"}
            %input#file{ name: "processed_image[image]", 'ng-file-select'=>"onFileSelect($files, rule.id)",  type: "file" }
    
    //////////////////
    .col-md-4
      .control-group.error{ 'ng-cloak' => true }
        .span4
          %label{ for: "file"}
            .btn.file_input_wrapper.btn-block
              = t('.add_image')
              %input#file{ name: "processed_image[image]", 'ng-file-select'=>"onFileSelect($files)", type: "file" }
        .span8
          .progress.progress-striped.active{ 'ng-show' => 'is_uploading_photo' }
            .bar{ style: "width:{{ uploaded_percents }}%" }= t('.uploading')
        %span.help-inline{ 'ng-show' => 'photo_errors' } {{ photo_errors }}

  .row.marg-bottom
    %hr